---
import DashboardComponent from "./Dashboard.vue"
---

<section>
    <div class="w-full min-h-[65vh] md:rounded-lg md:shadow-lg md:bg-darkest">
        <DashboardComponent client:load/>
    </div>
</section>