---
import UserHome from "./UserHome.vue"
---

<section>
    <nav class="flex flex-row justify-between w-11/12 mx-auto mt-4 bg-white/30 backdrop-blur-lg backdrop-saturate-150 border border-white/20 rounded-lg shadow-lg p-6">
        <div>
            <a href="/" class="text-darkest text-2xl font-bold">LetterList</a>
        </div>
        <div class="flex items-center">
            <ul  class="flex flex-row gap-5 text-xl">
                <li><a href="" class="group transition duration-300">Home<span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-darkest"></span>
                </a></li>
                <li><a href="" class="group transition duration-300">Plans <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-darkest"></span></a></li>
                <li><a href="" class="group transition duration-300">Demos page <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-darkest"></span></a></li>
                <li><a href="" class="group transition duration-300">Support <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-darkest"></span></a></li>
            </ul>
        </div>
        <div>
            <UserHome client:load />
        </div>
    </nav>
</section>