---
import Template from "../../../layouts/Template.astro";
interface Props {
    name_page: string;
}

const { name_page } = Astro.props;
---

<Template title={name_page}>
    <h1>{name_page}</h1>
    <slot/>
    <footer>
        
    </footer>
</Template>