---
import Footer from '../components/footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="PromileDev"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	html {
		font-family: 'Geist';
	}
	@font-face {
		font-family: 'Geist';
		src: url("/fonts/Geist-Regular.ttf"), format("truetype");
	}
</style>
