---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Dashboard from '../components/Dashboard.astro';
---

<Layout title="Letter List">
    <main>
        <Navbar />
        <div class="w-11/12 mt-10 mb-10 mx-auto">
            <Dashboard />
        </div>
    </main>
</Layout>