---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
    <main class="flex flex-col md:flex-row md:justify-between h-screen w-11/12 md:w-[80%] items-center mx-auto">
        <div class="flex justify-center w-[50%]">
            <img src="/fotos/brand.png" class="w-[100px]" alt="letterlist foto">
        </div>
        <div class="flex justify-center w-[50%] mt-10 md:mt-0">
            <h1 class="text-light text-6xl hidden md:block">Login</h1>
        </div>
    </main>
</Layout>