---
// Importar dependencias
import Layout from "../layouts/Layout.astro";
import PaymentComponent from "../components/PaymentComponent.vue";
---

<Layout title="Payment">
  <main class="flex flex-col md:flex-row md:justify-between w-11/12 md:w-[80%] items-center mx-auto">
    <!-- Solo cargar el componente en el cliente -->
    <PaymentComponent client:load />
  </main>
</Layout>
