---
import Layout from '../layouts/Layout.astro';
import PlanCard from '../components/PlanCard.vue';
import TablePlans from '../components/TablePlans.vue';
import plans from '../Plans.json'; // Importar datos de los planes
---

<Layout title="Plans">
  <main class="z-10">
    <h1 class="text-6xl text-light font-bold text-center mt-10">Plans</h1>

    <!-- Renderizado dinámico de los PlanCards -->
    <div class="flex flex-col md:flex-row gap-6 justify-center items-center mt-10">
      {plans.map((plan) => (
        <PlanCard
          client:load
          title={plan.title}
          price={plan.price}
          options={plan.options}
          popular={plan.popular}
        />
      ))}
    </div>

    <!-- Tabla de comparación -->
    <div class="flex justify-center items-center mt-20">
      <h2 class="text-4xl text-light font-bold">Compare Plans</h2>
    </div>
    <TablePlans client:load />
  </main>
</Layout>
