---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Settings">
    <main>
        <Navbar />
        <section class="w-full flex flex-col items-center mt-10">
            <h1 class="text-light text-5xl font-bold">User settings</h1>
            <div>
                
            </div>
        </section>
    </main>
</Layout>