---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Support">
    <main>
        <Navbar />
        <section class="w-11/12 mt-10 mb-10 mx-auto flex flex-col justify-center items-center">
            <h1 class="text-6xl text-light font-bold">Contact Us</h1>
            <div class="mt-5 p-10 md:bg-darkest text-light rounded-lg md:shadow-lg">
                <form class="flex flex-col gap-4" action="">
                    <div class="flex flex-col gap-1">
                        <label class="ml-2" for="">Name</label>
                        <input class="md:bg-dark bg-light focus:ring-darkest focus:border-darkest md:focus:ring-mid md:focus:border-mid border-transparent rounded-lg" type="text">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="ml-2" for="">Email</label>
                        <input class="md:bg-dark bg-light focus:ring-darkest focus:border-darkest md:focus:ring-mid md:focus:border-mid border-transparent rounded-lg" type="email">
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="ml-2" for="">Message</label>
                        <textarea class="md:bg-dark bg-light focus:ring-darkest focus:border-darkest md:focus:ring-mid md:focus:border-mid border-transparent rounded-lg" name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </form>
            </div>
        </section>
    </main>
</Layout>