---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import AddWebsite from "../components/AddWebsite.vue";
---

<Layout title="Letter List">
    <main>
        <Navbar />
        <AddWebsite client:load />
      </main>
</Layout>s